# Homework

# Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn.

In [60]:
import pandas as pd
import numpy as np
import seaborn as sns

from matplotlib import pyplot as plt

%matplotlib inline

# Question 1

What's the version of Pandas that you installed?

> You can get the version information using the __version__ field:

In [61]:
pd.__version__

'2.2.2'

# Getting the data

For this homework, we'll use the California Housing Prices dataset.

In [62]:
df = pd.read_csv("./housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [63]:
df.shape # (rows, columns)

(20640, 10)

# Question 2
How many columns are in the dataset?

In [64]:
len(df.columns)

10

# Question 3
Which columns in the dataset have missing values?

In [65]:
df.isnull().sum()

# total_bedrooms has 207 missing values

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

# Question 4
How many unique values does the ocean_proximity column have?

In [66]:
df.nunique()

# ocean_proximity has 5 unique values

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [67]:
df.ocean_proximity.nunique()

5

# Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [68]:
df.groupby('ocean_proximity')['median_house_value'].agg(['min', 'mean', 'max'])

                      min           mean       max
ocean_proximity
<1H OCEAN         17500.0  240084.285464  500001.0
INLAND            14999.0  124805.392001  500001.0
ISLAND           287500.0  380440.000000  450000.0
NEAR BAY          22500.0  259212.311790  500001.0
NEAR OCEAN        22500.0  249433.977427  500001.0

In [69]:
df.groupby('ocean_proximity').median_house_value.mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [70]:
df[df.ocean_proximity == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

# Question 6
1. Calculate the average of total_bedrooms column in the dataset.
2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3. Now, calculate the average of total_bedrooms again.
4. Has it changed?
   
Has it changed?
> Hint: take into account only 3 digits after the decimal point.

In [71]:
# calculate average of total_bedrooms
average_total_bedrooms =df.total_bedrooms.mean()
average_total_bedrooms

537.8705525375618

In [72]:
# fill the missing values by the average
df.total_bedrooms =  df.total_bedrooms.fillna(average_total_bedrooms)

In [73]:
#calculate the average again
df.total_bedrooms.mean()

# the average is the same

537.8705525375617

# Question 7
1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. 8.Call the result w.
8. What's the value of the last element of w?

> Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [74]:
data = df[df.ocean_proximity == 'ISLAND']
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [75]:
data = data[['housing_median_age', 'total_rooms', 'total_bedrooms']]
data

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [76]:
X = data.values
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [77]:
# compute the transpose of X
X_T = X.T
X_T

array([[  27.,   52.,   52.,   52.,   29.],
       [1675., 2359., 2127.,  996.,  716.],
       [ 521.,  591.,  512.,  264.,  214.]])

In [78]:
# Compute the matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X_T, X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [79]:
# Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [80]:
y = np.array([950, 1300, 800, 1000, 1300])
y

array([ 950, 1300,  800, 1000, 1300])

In [81]:
# Multiply the inverse of XTX with the transpose of X
intermediate_result = np.dot(XTX_inv, X_T)
intermediate_result

array([[-0.00825608, -0.00653208, -0.00232159,  0.02565144,  0.01204934],
       [-0.00165852,  0.0011141 ,  0.00139656, -0.00103215, -0.00110698],
       [ 0.00754365, -0.00301964, -0.00455125,  0.00181685,  0.00329418]])

In [82]:
w = np.dot(intermediate_result, y)
w[-1]

5.6992294550655656